@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600&family=Lobster&family=Merienda+One&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,500&family=Oswald:wght@700&family=Pangolin&family=Piazzolla:ital,opsz,wght@0,8..30,300;0,8..30,400;0,8..30,500;1,8..30,300;1,8..30,400&family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Quicksand:wght@300;400;500;600&family=Qwigley&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Rubik+Puddles&family=Source+Sans+Pro:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-div{
    margin: 5rem;
}

.display-products{
    margin: 2rem 0;
    /* gap: 0.5rem; */
    height: 18rem;
}

.product-div-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1.5rem;
}

.product-div-heading h2{
    font-family: 'Poppins', sans-serif;
    color: rgb(88, 88, 88);
    margin-bottom: 3rem;
}

.product-div-heading a{
    text-decoration: none;
}

.category-product-card{
    width: 10rem;
    height: 12rem;
    /* border: 1px solid black; */
    text-align: center;
}

.category-product-card:hover{
    transform: scale(1.05);
}

.category-product-card img{
    height: 9rem;
    width: 10rem;
    margin: 0 auto;
}

.category-product-card h6{
    margin-top: 0.4rem;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(25,25,25);
}

.category-product-card p{
    font-size: 0.7rem;
}

.card-buttons a{
    font-size: 0.8rem;
}

.category-product-banners{
    height: 20rem;
    width: 100%;
    /* object-fit: fill; */
}

.category-product-banners img{
    object-fit: fill; 
    height: inherit;
    width: 100%; 
    box-shadow: 4px 4px 8px rgba(0,0,0,0.4);
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  
  @media all and (max-width: 420px){
        .product-div{
            margin: 5rem 1rem;
        }

        .category-product-card img{
            height: 7rem;
            width: 7rem;
        }

        .category-product-card h6{
            font-size: 0.7rem;
        }

        .card-buttons a{
            font-size: 0rem;
        }

        .category-product-banners img{
            height: 15rem;
            object-fit: fill;
        }
  }