*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    width: 20%;
    height: inherit;
}

.admin-panel{
    width: 80%;
}

.sidebar-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
}

.sidebar-list li{
    width: 115%;
    margin-left: -2rem;
    padding: 1rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.sidebar-list li:hover{
    background: linear-gradient(90deg, orange, rgb(228, 150, 6));
}

.admin-panel h3{
    text-align: center;
    margin: 2rem;
}

.add-product-page form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto 2rem auto;
}

.add-product-page form input,
.add-product-page form select{
    height: 2rem;
    border-radius: 6px;
    border: 1px solid grey;
}

.add-product-page form button{
    margin: 1rem 0;
}

.sales-list{
    display: flex;
}

.progress-circles{
    width: 12%;
    padding: 3rem 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sales-list-content{
    width: 88%;
    padding: 2rem 1rem;
    text-align: center;
}

.sales-list-content table{
    box-shadow: -1px -1px 2px 2px rgba(0,0,0,0.2);
}

.sales-circle,
.return-circle,
.products-circle{
    text-align: center;
}

.total-sales{
    border: 1rem solid green;
    border-radius: 50%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.total-returns{
    border: 1rem solid red;
    border-radius: 50%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.total-products{
    border: 1rem solid blue;
    border-radius: 50%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}