*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-brand{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 70%;
    margin: 5rem auto;
}

.about-brand img{
    height: 8rem;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.about-founders{
    width: 70%;
    margin: 3rem auto;
    text-align: center;
}

.about-founders h3{
    font-size: 3rem;
    font-family: 'Homemade Apple', sans-serif;
}

.founders{
    display: flex;
    justify-content: space-around;
    margin: 4rem 0;
}

.founders h6{
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    padding: 1rem 5rem;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    background-color: rgb(250,250,250);
}


@media all and (max-width: 420px){
    .about-brand{
        width: 95%;
        margin: 2rem auto;
        gap: 0.8rem;
    }
    
    .about-brand img{
        height: 5rem;
    }

    .about-company-content h2{
        font-size: 1.2rem;
    }

    .about-company-content p{
        font-size: 0.8rem;
    }

    .about-founders{
        width: 80%;
    }

    .about-founders h3{
        font-size: 2rem;
    }

    .founders{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
        margin: 2rem 0;
    }

    .founders h6{
        font-size: 0.9rem;
        padding: 0.8rem 2.5rem;
    }
}